<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div
        data-role="module-unsubscribe"
        data-type="unsubscribe"
        style="
          color: #444444;
          background-color: aliceblue;
          font-size: 12px;
          line-height: 20px;
          padding: 16px;
          text-align: center;
        "
      >
        <div>
          <p
            class="Unsubscribe--senderName"
            style="font-size: 15px; line-height: 20px; color: blue"
          >
            PASSWORD RESET CODE
          </p>
          <hr />
          <p style="font-size: 12px; line-height: 20px">
            <span class="Unsubscribe--senderAddress"
              >Please use this code to reset the password for your Verifyr
              account.</span
            >
          </p>
          <p>Here is your code : {% code %}</p>
        </div>
        <p>
          Thanks <br />
          The BOX STREET account team
        </p>
      </div>
    </section>
  </body>
</html>
